<html>
  <head>
    <title>Chart</title>
    <link rel="stylesheet" type="text/css" href="/publics/general.css">
  </head>
  <body>
    <canvas id="chart" width='500' height="400"></canvas>
    
    <script type="text/javascript">
      var ctx = document.querySelector('#chart').getContext('2d');
    </script>
    <script type="text/javascript" src='/publics/Chart.js'></script>
    <script type="text/javascript" src='/publics/main.js'></script>
    <script type="text/javascript" src='/publics/draw.js'></script>
  </body>
</html>